root { 
    display: block;
}

body
{
    margin: auto;
    background-image: url("../img/general/fondo/wallpaper_1280_720_1334.png");
    background-repeat: repeat;
}

a:link{
    text-decoration: none;
}

.center{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 0px 5px 15px #808080
}

.innerCenter{
    width: 1024px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;   
}

.logo
{
    position: relative;
    top: 30px;
    left: 180px;
    width: 280px;  
}

.slogan{
    width: 250px;
    margin-top: 40px;
    margin-left: 180px;
    font-size: larger;
    font-family: "CORBEL";
    text-align: center;
    color: darkslategrey
}

.center_right{
    float: right;
    margin-right: 200px;
    margin-top: -270px;
    font-family: CORBEL;
    font-size: 11pt;
    color: #808080;
}

.loginHeader{
    font-size: larger;
    color: grey;
    font-family: "CORBEL";
}

.blue{
    color: #2D6595;
}

.blue_button{
    cursor: pointer;
    width: 240px;
    /*height: 40px;*/
    padding-left: 2px;
}

.bottom{
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;   
}

.bottom_center{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 65%;
}

.info1{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: transparent url('../img/pagina_inicio/INFO 1.png') center top no-repeat;
}

.info1:hover{
    background-image: url("../img/pagina_inicio/INFO 2.png");
}

.planesYPrecios1{
    display: inline-block;
    width: 100px;
    height: 101px;
    margin-left: 70px;
    background: transparent url('../img/pagina_inicio/PLANES PRECIOS 1.png') center top no-repeat;
}

.planesYPrecios1:hover{
    background-image: url("../img/pagina_inicio/PLANES Y PRECIOS 2.png");
}

.demosYVideos1{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    background: transparent url('../img/pagina_inicio/DEMO Y VIDEOS 1.png') center top no-repeat;  
}

.demosYVideos1:hover{
    background-image: url("../img/pagina_inicio/DEMO Y VIDEOS 2.png");
}

.nosotros{
    display: inline-block;
    width: 102px;
    height: 102px;
    margin-left: 70px;
    background: transparent url('../img/pagina_inicio/NOSOTROS 1.png') center top no-repeat;  
}

.nosotros:hover{
    background-image: url("../img/pagina_inicio/NOSOTROS 2.png");
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: CORBEL;
    background-color: #2C6494;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.footer a{
    margin-right: 15px;
    color: white;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 230px;
    padding: 5px;
    border-radius: 5px;
    font-size: 11pt;
}

table{
    border: 0px none;
    border-style: none;
}

tr{
    border: 0px none;
    border-style: none;
}

td{
    border: 0px none;
    border-style: none; 
}

@font-face
{
    font-family: BRITANIC;
    src: url("../img/general/font/BRITANIC.TTF");
}

@font-face
{
    font-family: CORBEL;
    src: url("../img/general/font/Corbel.TTF");
}