
@font-face {
    font-family: "Corbel-bold";
    src: url(../fonts/Corbel-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Corbel-italic";
    src: url(../fonts/Corbel-Italic.ttf) format("opentype");
}

@font-face{
    font-family: "Corbel";
    src: url(../fonts/Corbel.ttf); /* .eot - Internet Explorer */
}

  .elem_xs_d
  {
    font-family: "Corbel";
    border:1px solid gray;
    position: relative;
    width: 300px;
    height: 400px;        
    background: white;
    border-radius: 15px 15px; 
    margin-left: 2em;
    margin-top: 95px;
    text-align: center;   
    
  }     

  .elem_xs_d a
  {
    position: absolute;
    background-color: #275989;
    color: white;
    padding: 0.3em 0.5em;
    font-size: 1.5em;        
    border-radius: 10px;
    box-shadow: none;
    text-decoration: none;
    bottom: -1em;
    left: 3.8em;
    cursor: pointer;
  }

  .elem_xs_d img
  {
    position: absolute;
    left: 1em;
    top: -70px;        
  }

  .elem_xs_d p
  {
    position: relative;
    margin-top: 140px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .elem_xs_d span
  {        
    display: block;
    position: relative;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 0 3.5em;        
  }

  .elem_xs_d h3
  {
    margin: 0 0 0.5em 0;
    padding: 0;        
    font-weight: bold;
    color: #2c6594;
  }

  .elem_xs_d h5
  {
    margin: 0;
    padding: 1em 0;        
    font-weight: bold;
    color: white;
    background-color: #cc3366;
  }

  .container_lines
  {
    padding-bottom: 3em;
    background: url("../img/fondo.png");
  }

  p.message_footer
  {        
    text-align: center;
    width: 100%;
    margin:4em 0 1em 0;
    
  }